<a href="https://colab.research.google.com/github/WangYuKai040/Python2020/blob/main/%E7%8E%8B%E6%98%B1%E5%87%B14_%E5%BB%BB%E5%9C%88loop%E6%95%99%E5%AD%B8%E7%89%88__20201026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


4_廻圈loop
課程目標：
[1].使用range 函式 的功能建立整數循序數列

[2].使用for 廻圈 執行固定次數的廻圈運算(通常)
[3].使用while 廻圈執行沒有固定次數的廻圈運算

[4].continue 指令 
  是在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處執行
[5].break 指令:可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

[6].廻圈中又包含廻圈的巢狀廻圈(Nested Loop)　===>設計九九乘法表
PS:Python沒有do… while 廻圈
你自己實作一個吧?!!

1.range() 函式
 使用range 函式 的建立整數循序數列

變數1 = range(整數值)
變數2 = range(起始值, 終止值)
變數3 = range(起始值, 終止值, 多少間隔)
變數1 = range(整數值)
底下程式執行後結果為何?

In [1]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list1=range(10)
print(list1)

range(0, 10)

In [3]:
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

變數2 = range(起始值, 終止值)¶
底下程式執行後結果為何?

In [4]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

變數3 = range(起始值, 終止值, 多少間隔)
底下程式執行後結果為何?

In [5]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [6]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

In [7]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

[2]for 廻圈
使用for 廻圈 執行固定次數的廻圈運算(通常)
底下程式執行後結果為何?

for n in range(5):
  print(n)
續上題:

要如何輸出 0 1 2 3 4
而不是
0
1
2
3
4
底下程式執行後結果為何?

In [8]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [9]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [10]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

[程式閱讀題]¶
執行下列程式並說明其結果

In [12]:
x = int(input("請輸入一個正整數:"))
my_result = 1

for n in range(x):
  my_result *= n

print(my_result)

請輸入一個正整數:100
0

In [13]:
x = int(input("請輸入一個正整數:"))
my_result = 1

for n in range(1,x+1):
  my_result *= n

print(my_result)

請輸入一個正整數:100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [14]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:100
4950

In [15]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

[程式閱讀題]
上述程式如果第五行改成 if (number % 2 = 0):答案會是甚麼??

In [16]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []
 
for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)
 
print(my_numbers)

[4, 8, 6]

[3]While Loop
### n階程的計算:n!=1*2*3*⋯*n
1!　=　１
2!　=　1*2　=　2
3!　=　1*2*3　=　6
輸入::一個正整數 n
輸出::n!

當使用者輸入一個正整數 n 後，程式就會顯示
1*2*3*...*n 的乘積
請使用 while loop設計這個程式
total = i = 1

In [18]:
n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：100

NameError: ignored

[4]break 指令
可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。
底下程式執行後結果為何?

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

[5]continue 指令
在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行
撰寫一個可以排除數列中 5 的倍數的程式

輸入::一個正整數 n
輸出::
使用者只要輸入一個正整數，
程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

[程式設計題]
完成程式撰寫
輸入一個正整數n
列出小於n的 7倍數

例如:輸入22
輸出 7, 14, 21

In [19]:
n = int(input("請輸入正整數："))
 
for i in range(1, n):
    if i % 7 !=0:
        continue
    print(i,end=" ")

請輸入正整數：100
7 14 21 28 35 42 49 56 63 70 77 84 91 98

小小測驗:
[程式閱讀題]
底下程式執行的結果為何?請說明其邏輯

In [20]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [22]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [23]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [24]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [28]:
for x in range(0,19,-1):
  print(x)

In [29]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [30]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [31]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

[程式閱讀題] 下列程式輸入淨利潤為11111時請問輸出為何?"""

In [32]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:100
10.0
10.0

[6]巢狀廻圈Nested Loop[自主學習主題]¶
廻圈中又包含廻圈的巢狀廻圈　

留給你當作業：九九乘法表

In [33]:
for j in range(1,10):
  for i in range(1,10):
    print("%s * %s = %2d" %(i, j, i * j), end = "  ")
  print()

1 * 1 =  1  2 * 1 =  2  3 * 1 =  3  4 * 1 =  4  5 * 1 =  5  6 * 1 =  6  7 * 1 =  7  8 * 1 =  8  9 * 1 =  9
1 * 2 =  2  2 * 2 =  4  3 * 2 =  6  4 * 2 =  8  5 * 2 = 10  6 * 2 = 12  7 * 2 = 14  8 * 2 = 16  9 * 2 = 18
1 * 3 =  3  2 * 3 =  6  3 * 3 =  9  4 * 3 = 12  5 * 3 = 15  6 * 3 = 18  7 * 3 = 21  8 * 3 = 24  9 * 3 = 27
1 * 4 =  4  2 * 4 =  8  3 * 4 = 12  4 * 4 = 16  5 * 4 = 20  6 * 4 = 24  7 * 4 = 28  8 * 4 = 32  9 * 4 = 36
1 * 5 =  5  2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25  6 * 5 = 30  7 * 5 = 35  8 * 5 = 40  9 * 5 = 45
1 * 6 =  6  2 * 6 = 12  3 * 6 = 18  4 * 6 = 24  5 * 6 = 30  6 * 6 = 36  7 * 6 = 42  8 * 6 = 48  9 * 6 = 54
1 * 7 =  7  2 * 7 = 14  3 * 7 = 21  4 * 7 = 28  5 * 7 = 35  6 * 7 = 42  7 * 7 = 49  8 * 7 = 56  9 * 7 = 63
1 * 8 =  8  2 * 8 = 16  3 * 8 = 24  4 * 8 = 32  5 * 8 = 40  6 * 8 = 48  7 * 8 = 56  8 * 8 = 64  9 * 8 = 72
1 * 9 =  9  2 * 9 = 18  3 * 9 = 27  4 * 9 = 36  5 * 9 = 45  6 * 9 = 54  7 * 9 = 63  8 * 9 = 72  9 * 9 = 81